<% content_for :title do %>
  <%= @user.display_name %>'s Notes
<% end %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><%= @user.display_name %></li>
  </ol>
</nav>

<h1><%= @user.display_name %>'s Notes</h1>

<% if policy(@note).create? %>
  <div class="mb-3">
    <%= link_to 'Add', new_note_path(@user.display_name), class: 'btn btn-primary' %>
  </div>
<% end %>

<form data-controller="filter" onsubmit="return false">
  <input type="search" data-filter-target="filterTextField" data-action="keyup->filter#update" class="form-control mb-2" placeholder="search" />

  <div class="list-group mb-3">
    <% @notes.each do |note| %>
      <%= link_to note.title,
                  note_path(@user, note),
                  class: 'list-group-item list-group-item-action',
                  'data-filter-target': "listItem" %>
    <% end %>
  </div>
</form>
