<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to @user.display_name, notes_path(@user.display_name) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%= @note.title %></li>
  </ol>
</nav>

<h1><%= @note.title %></h1>

<% if policy(@note).update? %>
  <%= link_to 'Edit', edit_note_path(@user.display_name, @note.slug), class: 'btn btn-light' %>
<% end %>
<% if policy(@note).destroy? %>
  <%= link_to 'Delete', note_path(@user.display_name, @note.slug), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
<% end %>

<div class="rendered-markdown">
  <%= raw markdown_to_html(@note.body) %>
</div>
