<% content_for :title, 'Sign up' %>
<h2 class="text-2xl font-bold mb-4">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <fieldset class="fieldset mb-3">
    <%= f.label :email, class: 'fieldset-legend' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email",
                      class: 'input input-bordered w-full' %>
  </fieldset>

  <fieldset class="fieldset mb-3">
    <%= f.label :display_name, class: 'fieldset-legend' %>
    <%= f.text_field :display_name, autocomplete: 'username', autocapitalize: 'off',
                     class: 'input input-bordered w-full' %>
  </fieldset>

  <fieldset class="fieldset mb-3">
    <%= f.label :password, class: 'fieldset-legend' %>
    <%= f.password_field :password, autocomplete: "new-password",
                         class: 'input input-bordered w-full' %>
    <% if @minimum_password_length %>
      <p class="text-sm text-base-content/60">(<%= @minimum_password_length %> characters minimum)</p>
    <% end %>
  </fieldset>

  <fieldset class="fieldset mb-3">
    <%= f.label :password_confirmation, class: 'fieldset-legend' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
                         class: 'input input-bordered w-full' %>
  </fieldset>

  <div class="mb-3">
    <%= f.submit "Sign up", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
