<h2 class="text-2xl font-bold mb-4">Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <fieldset class="fieldset mb-3">
    <%= f.label :password, "New password", class: 'fieldset-legend' %>
    <% if @minimum_password_length %>
      <span class="text-sm text-base-content/60">(<%= @minimum_password_length %> characters minimum)</span>
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password",
                         class: 'input input-bordered w-full' %>
  </fieldset>

  <fieldset class="fieldset mb-3">
    <%= f.label :password_confirmation, "Confirm new password", class: 'fieldset-legend' %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",
                         class: 'input input-bordered w-full' %>
  </fieldset>

  <div class="mb-3">
    <%= f.submit "Change my password", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
