<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %> | Slapdash</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'shared/favicons' %>

    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <div class="navbar bg-base-300 shadow-sm mb-3">
      <div class="container mx-auto px-4">
        <div class="flex-1">
          <%= link_to root_path, class: 'btn btn-ghost text-xl' do %>
            <%= image_tag('logo-30@3x.png', class: 'navbar-logo mr-1') %>
            Slapdash
          <% end %>
        </div>

        <% if user_signed_in? %>
          <%# Mobile: dropdown menu %>
          <div class="dropdown dropdown-end lg:hidden">
            <div tabindex="0" role="button" class="btn btn-ghost">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                   viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M4 6h16M4 12h16M4 18h16" />
              </svg>
            </div>
            <ul tabindex="0"
                class="menu menu-sm dropdown-content bg-base-200 rounded-box z-50 mt-3 w-52 p-2 shadow">
              <li><%= link_to 'My Notes', notes_path(current_user.display_name) %></li>
              <li>
                <%= link_to 'Sign Out',
                            destroy_user_session_path,
                            data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
              </li>
            </ul>
          </div>

          <%# Desktop: inline menu %>
          <div class="hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
              <li><%= link_to 'My Notes', notes_path(current_user.display_name) %></li>
              <li>
                <%= link_to 'Sign Out',
                            destroy_user_session_path,
                            data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>

    <div class="container mx-auto px-4 full-height">
      <div class="full-height">
        <% if notice.present? %>
          <div role="alert" class="alert alert-success mb-3">
            <%= notice %>
          </div>
        <% end %>
        <% if alert.present? %>
          <div role="alert" class="alert alert-error mb-3">
            <%= alert %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
